#container {
	width: 800px;
	border: 1px solid grey;
	height: 100px;
	margin: 0 auto;
}

#brand{
	float: left;
}

h1 a{
	font-size: 40px;
	font-weight: 100;
	color: #861BBF;
	text-decoration: none;
}

#searchBox{
	float: right;

}